.contenedor-principal{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

barra-superior{
  width: 90%;
  height: 3%;
  padding-left: 5%;
}

inicio{
  width: 100%;
  height: 90%;
}
